@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family:  "Google Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/assets/GoogleSansDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family:  "Google Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/assets/GoogleSansDisplay-Bold.ttf") format("truetype");
}

@theme inline {
  /* google color pallete */
  --color-g-gray: #5f6368;
  --color-g-white: #f1f3f4;
  --color-g-blue: #4285f4;
  --color-g-red: #ea4335;
  --color-g-yellow: #f9ab00;
  --color-g-green: #34a853;
  --color-g-blue-secondary: #8ab4f8;
  --color-g-red-secondary: #f28b82;
  --color-g-yellow-secondary: #fde293;
  --color-g-green-secondary: #81c995;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Google Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Google Sans Code Variable", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  @keyframes gradient-x {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }
  
  @keyframes float-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  @keyframes float-fast {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
  }
  .animate-float-slow {
    animation: float-slow 6s ease-in-out infinite;
  }
  .animate-float-fast {
    animation: float-fast 4s ease-in-out infinite;
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
